<section class="howitworks-section">
  <h2 class="visually-hidden">How it works</h2>
  <div class="hiw-bg-img">
    <div class="container-how-it-works-section-img">
      <picture class="hiw-img">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/howitworks-desk@1x.webp 1x,
            /img/howitworks-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/howitworks-tab@1x.webp 1x,
            /img/howitworks-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/howitworks-mob@1x.webp 1x,
            /img/howitworks-mob@2x.webp 2x
          "
        />
        <img
          class="hiw-img"
          src="/img/howitworks-mob@1x.webp"
          alt="The girl is cutting fruits"
          style="display: block"
        />
      </picture>
    </div>
  </div>
  <div class="hiw-bg-txt">
    <div class="container-how-it-works-section-text">
      <div class="hiw-text-box">
        <div class="hiw-subtitle-box">
          <p class="hiw-subtitle">
            To order your <span class="hiw-accent">vegetable</span> basket,
            simply follow these <span class="hiw-accent">easy steps</span>
          </p>
          <p class="hiw-subtitle-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </div>
        <ol class="hiw-list">
          <li class="hiw-item">
            <div class="hiw-circle"></div>
            <p class="hiw-text">
              Just choose
              <span class="hiw-accent-black">the vegetable</span> you want to
              order by clicking on the checkboxes
              <span class="hiw-accent-black">next to it</span>.
            </p>
          </li>
          <li class="hiw-item">
            <div class="hiw-circle"></div>
            <p class="hiw-text">
              Click on <span class="hiw-accent-black">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="hiw-item">
            <div class="hiw-circle"></div>
            <p class="hiw-text">
              Sit back and relax! Your
              <span class="hiw-accent-black">fresh vegetables</span> basket will
              be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
