
<section class="vegetables-section" id="vegetables">
  <div class="container">
    <h2 class="title-vegetables">
      ORGANIC <span class="title-part">VEGETABLES</span>
    </h2>
    <p class="subtitle-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture class="vegetables-icon">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/eggplant-desk@1x.webp 1x,
              /img/eggplant-desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/eggplant-tab@1x.webp 1x, /img/eggplant-tab@2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/eggplant-mob@1x.webp 1x, /img/eggplant-mob@2x.webp 2x"
          />
          <img
            src="/img/eggplant-mob@1x.webp 1x"
            alt="Eggplant"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture class="vegetables-icon">
          <source
            media="(min-width: 1280px)"
            srcset="/img/leek-desk@1x.webp 1x, /img/leek-desk@2x.webp 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/leek-tab@1x.webp 1x, /img/leek-tab@2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/leek-mob@1x.webp 1x, /img/leek-mob@2x.webp 2x"
          />
          <img
            src="/img/leek-mob@1x.webp 1x"
            alt="Leek"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture class="vegetables-icon">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/mushrooms-desk@1x.webp 1x,
              /img/mushrooms-desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/mushrooms-tab@1x.webp 1x,
              /img/mushrooms-tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mushrooms-mob@1x.webp 1x,
              /img/mushrooms-mob@2x.webp 2x
            "
          />
          <img
            src="/img/mushrooms-mob@1x.webp 1x"
            alt="Mushrooms"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture class="vegetables-icon">
          <source
            media="(min-width: 1280px)"
            srcset="/img/corn-desk@1x.webp 1x, /img/corn-desk@2x.webp 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/corn-tab@1x.webp 1x, /img/corn-tab@2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/corn-mob@1x.webp 1x, /img/corn-mob@2x.webp 2x"
          />
          <img
            src="/img/corn-mob@1x.webp 1x"
            alt="Corn"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture class="vegetables-icon">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/potatoes-desk@1x.webp 1x,
              /img/potatoes-desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/potatoes-tab@1x.webp 1x, /img/potatoes-tab@2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/potatoes-mob@1x.webp 1x, /img/potatoes-mob@2x.webp 2x"
          />
          <img
            src="/img/potatoes-mob@1x.webp 1x"
            alt="Sweet potatoes"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture class="vegetables-icon">
          <source
            media="(min-width: 1280px)"
            srcset="/img/carrot-dask@1x.webp 1x, /img/carrot-dask@2x.webp 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/carrot-tab@1x.webp 1x, /img/carrot-tab@2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/carrot-mob@1x.webp 1x, /img/carrot-mob@2x.webp 2x"
          />
          <img
            src="/img/carrot-mob@1x.webp 1x"
            alt="Carrot"
            width="280"
            height="240"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
