<section class="yourorder-section">
  <div class="container">
    <h2 class="yourorder-title">
      Fresh <span class="yourorder-title-part">Harvest</span> Box has got you
      covered
    </h2>
    <p class="yourorder-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <div class="block-container">
      <div class="order-block">
        <p class="block-text">
          Ordering <span class="block-text-part-first">from us</span> is quick
          and easy! Fill out
          <span class="block-text-part-second">the form</span> below and we will
          contact you !
        </p>
        <form name="order" class="yourorder-form">
          <input
            aria-label="username"
            autocomplete="on"
            name="username"
            type="text"
            class="form-input"
            placeholder="Full Name"
            required
          />
          <input
            aria-label="email"
            autocomplete="on"
            name="email"
            type="email"
            class="form-input"
            placeholder="Email"
            pattern="(?:[^\s@]*)[\w]{1}@{1}(?:[^\s@]+)[\.]{1}(?:[^\s@]{1,255}\w{1})"
            required
          />
          <textarea
            aria-label="comment"
            name="comment"
            class="form-comment"
            placeholder="Comment"
            required
          ></textarea>
          <button class="form-btn" type="submit">Send</button>
        </form>
      </div>

      <div class="juice-block">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/yourorder-desk@1x.webp 1x,
              /img/yourorder-desk@2x.webp 2x
            "
            width="428"
            height="352"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/yourorder-tab@1x.webp 1x,
              /img/yourorder-tab@2x.webp 2x
            "
            width="536"
            height="316"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/yourorder-mob@1x.webp 1x,
              /img/yourorder-mob@2x.webp 2x
            "
            width="295"
            height="272"
          />
          <img src="/img/yourorder-mob@1x.webp" alt="juice" class="juice-img" width="272" height="295"/>
        </picture>
        <p class="juice-text">Follow us on our social networks:</p>
        <ul class="juice-list">
          <li class="juice-item">
            <a
              class="juice-social"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              >instagram
            </a>
          </li>
          <li class="juice-item">
            <a
              class="juice-social"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              >facebook
            </a>
          </li>
          <li class="juice-item">
            <a
              class="juice-social last"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              >youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="btn-return" href="#header" aria-label="return">
      <svg class="icon-return" width="30" height="30">
        <use href="/img/icons.svg#icon-return"></use>
      </svg>
    </a>
  </div>
</section>
