/* ------------------- footer section ---------------- */
.footer-section {
  background-color: #7a3145;
  display: flex;
  padding: 40px 0;
}

.footer-content-wrapper {
  color: #fbfbfb;
}

.footer-pitch-wrapper {
  max-width: 335px;
  margin-bottom: 40px;
}

.footer-logo-link {
  display: flex;
  margin-bottom: 14px;
}

.footer-logo {
  fill: #fbfbfb;
}

.footer-nav-list {
  gap: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.footer-pitch {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 500;
}

.footer-nav-item {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 600;
}

.footer-address {
  max-width: 215px;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
}

.footer-post-address {
  max-width: 179px;
  display: block;
}

.footer-tel {
  margin-bottom: 14px;
  display: block;
}

.gdpr-wrapper {
  color: #d4bfc4;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 500;
}

.gdpr-link-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  gap: 21px;
}

.gdpr-item {
  position: relative;
}

.gdpr-item::after {
  content: '/';
  position: absolute;
  right: -14px;
}

.gdpr-item:last-child::after {
  content: '';
}

/* media settings min-width:768px */
@media screen and (min-width: 768px) {
  .footer-section {
    padding: 32px 0;
  }

  .footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 704px;
  }

  .footer-nav-list {
    gap: 24px;
    margin-bottom: 64px;
  }

  .footer-logo {
    width: 216px;
    height: 20px;
    margin-bottom: 24px;
  }

  .footer-pitch {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-pitch-wrapper {
    width: 265px;
  }

  .footer-address {
    max-width: 215px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-tel {
    margin-bottom: 24px;
  }

  .gdpr-wrapper {
    color: #d4bfc4;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  .gdpr-link-list {
    margin-bottom: 0;
  }
}
/* media settings min-width:1280px */
@media screen and (min-width: 1280px) {
  .footer-section {
    padding: 52px 0;
  }

  .footer-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-right: 0;
    margin-bottom: 124px;
    width: 100%;
  }

  .footer-pitch-wrapper {
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .footer-nav-wrapper {
    display: flex;
    flex-direction: row;
    gap: 121px;
    margin-bottom: 0;
  }

  .footer-address {
    max-width: 216px;
    margin-bottom: 0;
  }

  .footer-nav-list {
    margin-bottom: 0;
  }
}
