.hero-section {
  background: #576f35;
  display: flex;
  height: 100vh;
}

.hero-conteiner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-txt {
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  padding: 232px 32px 0 100px;
  margin-bottom: 128px;
}
.hero-title {
  padding: 0 32px 52px 100px;
}

.hero-image {
  width: 50%; /* Права частина займає 50% ширини */
  background: url(../img/hero-desk@1x.webp) no-repeat center center;
  background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2x) {
  .hero-section {
    background: url(../img/hero-desk@2x.webp) no-repeat center center;
  }
}
