.mobile-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    background-color: #576f35;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-top: 296px; 
    padding-bottom: 52px;
    z-index: 999;
}


.mobile-close-btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    transition: transform 500ms ease-in-out;
}

.mobile-close-btn:hover {
    transform: rotate(90deg);
}

.mobile-close-icon {
    stroke: #fbfbfb;
}

.mobile-nav-menu {
    display: flex;
    margin: 0 auto;
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-nav-list-item {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 0;
    width: 118px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in-out;
}

.mobile-nav-list-item:hover,
.mobile-nav-list-item:focus {
    background-color: #fbfbfb;
    color: #7a3145;
}

.mobile-shop-btn {
    border-radius: 30px;
    width: 175px;
    height: 52px;
    background-color: #7a3145;
    border: none;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    transition: background-color 250ms ease-in-out;
}

.mobile-shop-btn:hover,
.mobile-shop-btn:focus {
    background-color: #d4bfc4;
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        width: 351px;
    }

    .mobile-close-btn {
        width: 40px;
        height: 40px;
        right: 32px;
        top: 32px;
    }

    .mobile-close-icon {
        width: 40px;
        height: 40px;
    }
}